### Titan Gym - Proyecto###


# ignora archivos de texto específicos
data.txt
Readme.txt

# ignora archivos de configuración
/include/db_conn.php

# ignora página principal
./index.html
index.html

# ignora fuentes
# ...vacío...
/font/re*

# ignora estilos específicos
# ...vacío...

# ignora imágenes propoas del proyecto
/images/
*.png
*.jpg
*.jpeg
*.gif

# ignora archivos y bases de datos
*.log
*.sql
*.sqlite
